@page "/acercade"

<PageTitle>Acerca De</PageTitle>

<h1>Acerca de mi 👨‍🎓👩‍🎓</h1>

<div style="text-align: center;">
   
    <img src="yo.jpg" alt="Foto del Estudiante" style="width: 100px; height: 100px; border-radius: 50%;" />
</div>

<div style="margin-top: 20px;">
    
    <h2>Nombre Completo:</h2>
    <p>Darlin Mateo</p>

    
    <h2>Contacto:</h2>
    <p>
        <a href="https://wa.me/8497525278" target="_blank">WhatsApp 💬</a><br />
        <a href="https://t.me/darlinmateo" target="_blank">Telegram 💬</a><br />
        <a href="mailto:darlinm0820@gmail.com">Correo Electrónico ✉️</a>
    </p>

    
    <h2>Descripción:</h2>
    <p>Me gustaría dedicarme al desarrollo web y móvil al terminar en el ITLA Y terminar la ingenieria de software.</p>
</div>

