@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Inicio</h1>

<h3>Bienvenido a mi aplicacion.</h3>

<p>Gracias por ver mi primera tarea usando blazor.</p>

<img class="img-fluid" src="https://tse1.mm.bing.net/th?id=OIP.w4BhFZq60GHG0_OmfWwBpAHaFi&pid=Api&P=0&h=220"/>

<h3>Frase Motivadora:</h3>
<p> Aprender a programar es abrir las puertas a infinitas posibilidades.</p>